// adding eccentric-touch
@import url('https://cdn.jsdelivr.net/gh/DesignSystemsOSS/eccentrictouch@master/source/eccentrictouch.css');

// reseter method
*, *::before, *::after {
	margin: 0;
	padding: 0;
}

body, html {
	font-weight: auto;
	font-size: auto;
	font-style: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

:root {
	--dev-black: black;
	--dev-white: white;
}

.center-content {
	margin-right: auto;
	margin-left: auto;
	max-width: 1300px;
}
