@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@300;400;500;600;700;800&display=swap');

.app {
    height: 100vh;
    font-family: 'Manrope', sans-serif;
}

.header-options-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    align-items: center;
    width: fit-content;
    margin-left: auto;
}

.content-center {
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
}

button.text-btn, .link > p, a.link {
    color: var(--color-purple-900);
}

button.outline-btn {
    border-color: var(--color-purple-900);
    color: var(--color-purple-900);
}

button.primary-btn {
    background-color: var(--color-purple-900);
}