@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@300;400;500;600;700;800&display=swap');

.app {
    height: 100vh;
    font-family: 'Manrope', sans-serif;
}

.header-options-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    align-items: center;
    width: fit-content;
    margin-left: auto;
}

.content-center {
    margin-right: auto;
    margin-left: auto;
    max-width: 1260px;
}

button.text-btn, .link > p, a.link {
    color: var(--color-purple-900);
}

button.outline-btn {
    border-color: var(--color-purple-900);
    color: var(--color-purple-900);
}

button.primary-btn {
    background-color: var(--color-purple-900);
}

body::-webkit-scrollbar {
  width: 8px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid black;
}

.layer {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

#showwcase-btn {
  display: flex;
  align-items: center;
  gap: 4px;
}

p, li {
  line-height: 1.8;
}